body {
	font-family: 'lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

hr {
	border: none;
    height: 2px;
    /* Set the hr color */
    color: #c1c1c1; /* old IE */
    background-color: #c1c1c1; /* Modern Browsers */
    margin-bottom: 40px;
}

.icon {
    margin-bottom: 15px;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
    color: #1abc9c;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
}

.short {
    max-width: 250px;
    margin-bottom: 20px;
}

.margin-top{
    margin-top: 80px;
}